.rock-img{
    display: none;
    width: 50px;
}
.paper-img{
    display: none;
    width: 50px;
}
.scissors-img{
    width: 50px;
    display: none;
}

.displaying{
    display: block;
    width: 50px;
}
.not-displaying{
    display: none;
}